<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite verbose="2" name="Multi browser test" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="templateTestng.listener.retry.AnnotationTransformer"/>
    </listeners>

    <test name="Chrome execution">
        <packages>
            <package name="web.*"/>
        </packages>
    </test>

</suite>