<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">



<!--<suite name="Автотесты сайта Горздрав" parallel="methods" thread-count="4">-->
<!--<suite name="Автотесты сайта Горздрав" parallel="tests" thread-count=4">-->
<suite name="Автотесты сайта Горздрав" parallel="classes" thread-count="4">
<!--<suite name="Автотесты сайта Горздрав" parallel="instances" thread-count="4">-->

    <listeners>
        <listener class-name="listener.retry.AnnotationTransformer"/>
    </listeners>

    <test name="Web">
        <packages>
            <package name="web.*"/>
        </packages>
    </test>

    <test name="Мобильная эмуляция тестов">
        <packages>
            <package name="mobile.*"/>
        </packages>
    </test>
</suite>